.row
  .col-xs-12.col-xl-8
    .row
      .col-xs-12.col-sm-6
        .form-group
          = f.label :check_in
          = f.date_field :check_in, {class: 'form-control', value: Time.now.strftime('%Y-%m-%d')}
      .col-xs-12.col-sm-6
        .form-group
          = f.label :check_out
          = f.date_field :check_out, {class: 'form-control', value: (Time.now + 5.days).strftime('%Y-%m-%d')}

    .row
      .col-xs-12.col-sm-6
        .form-group
          = f.label :email_template_id
          = f.collection_select :email_template_id, @templates, :id, :to_s, {include_blank: t("select template for e-mail")}, {class: 'form-control c-select'}
      .col-xs-12.col-sm-6
        .form-group
          = f.label :print_template_id
          = f.collection_select :print_template_id, @templates, :id, :to_s, {include_blank: t("select template to print")}, {class: 'form-control c-select'}