.row
  .col-xs-12.col-xl-8
    .row
      .col-md-6
        .form-group
          = f.label :name
          = f.text_field :name, class: 'form-control customer-required customer-name'
      .col-md-6
        .form-group
          = f.label "reservation ID"
          = f.text_field :identification, class: 'form-control customer-required customer-vat-id'

    .row
      .col-md-6
        .form-group
          = f.label :contact_person
          = f.text_field :contact_person, class: 'form-control customer-required customer-contact-person'
      .col-md-6
        .form-group
          = f.label :email
          = f.email_field :email, class: 'form-control customer-required customer-email'

    .row
      .col-md-6
        .form-group
          = f.label :invoicing_address
          = f.text_area :invoicing_address, class: 'form-control autosize customer-required customer-address', "data-address": "invoice"

    - unless f.object_name == 'customer'
      .row
        .col-md-6
          .form-group
            = f.label :terms
            = f.text_area :terms, class: 'form-control autosize'
        .col-md-6
          .form-group
            = f.label :notes
            = f.text_area :notes, class: 'form-control autosize'
