:css
  .invoice-row label {
    font-size: 65%;
  }

.invoice-row.invoice-item.js-item
  .invoice-col.invoice-col--description.form-group
    = f.label "Room"
    = f.collection_select :room_id, Room.all, :id, :name, {include_blank: false}, {class: 'form-control c-select room-select'}

  .invoice-col.invoice-col--description.form-group
    = f.label "No Pax"
    = f.collection_select :bed_id, @beds, :id, :name, {include_blank: false}, {class: 'form-control c-select bed-select'}
  
  .invoice-col.invoice-col--description.form-group
    = f.label "Room number"
    = f.text_field :room_number, class: "form-control room-number", "data-role": "room-number"

  .invoice-col.invoice-col--quantity.form-group
    = f.label "Number of beds"
    = f.text_field :quantity_bed, class: "form-control no-bed", "data-role": "quantity_bed", value: @quan || 1

  .invoice-col.invoice-col--quantity.form-group
    = f.label "No nights"
    = f.text_field :quantity, class: "form-control quantity-bed", "data-role": "quantity", value: @quan || 1

  .invoice-col.invoice-col--amount.form-group
    = f.label :unitary_cost
    = f.text_field :unitary_cost, class: "form-control unitary-cost-bed", "data-role": "unitary-cost", value: @cost, readonly: true

  .invoice-col.invoice-col--discount.form-group
    = f.label :discount
    = f.text_field :discount, class: "form-control discount-bed", "data-role": "discount", value: 0

  .invoice-col.invoice-col--taxes.form-group
    %label{"data-role": "taxes-selector-label"}
      =t("taxes")
      %span{data: {role: 'total'}}
    = f.collection_select :tax_ids, Tax.enabled, :value_id, :to_s, {}, {class: 'form-control c-select tax-select-bed', multiple: true, "data-role": "taxes-selector"}

  .invoice-col.invoice-col--total.form-group
    = f.label :net_amount
    %p.form-control-static.js-net-amount-bed= @cost
    = f.hidden_field :net_amount, data: {role: 'net-amount'}, class: "net-amount-bed", value: @cost

  .invoice-col.invoice-col--total.form-group
    = f.label "Manual cost"
    %input{:type => "checkbox", :class => "check-manual-cost"}

  = link_to_remove_association f, {wrapper_class: 'js-item', class: 'destroy-icon'} do
    = material_icon.delete
    %span.remove-line-customer Remove Line

:javascript
  $(".remove-line-customer").click(function() {
    $($(this).closest('.invoice-row')).remove();
    changeNet(this)
  })
  $(".tax-select-bed").change(function() {
    let self = this
    let t = 0
    changeNet(self)
    if($(self).val() != null) {
      let val = $(self).val()
      for(let i = 0; i < val.length; i++) {
        val[i] = val[i].split('_')[0]
      }
      $.ajax({
        method: "GET",
        url: "/tax/get_value",
        data: { id: val }
      })
      .success(function( msg ) {
        let parent = $(self).closest(".invoice-row")
        let net_text = $(parent).find(".invoice-col .js-net-amount-bed")
        let net = $(parent).find(".invoice-col .net-amount-bed")
        let sub = $(parent).find(".sub-net")

        for (let i = 0; i < msg.tax.length; i++) {
          t += parseFloat(msg.tax[i].value) * parseFloat($(net).val()) / 100
        }
        
        t += parseFloat($(sub).val())
        $(sub).val(t)
        changeTotal();
      });
    }
    addTax()
  })
  $(".remove_fields").click(function() {
    changeNet2(this)
  })
  $(document).ready(function() {
    let val = getDateDiff();
    changeLastQuantityBed(val);
  })
  $(".room-select").change(function() {
    let self = this
    let id = $(this).val()
    let parent = $(this).parent();
    let grand = $(parent).parent();
    let bed = $(grand).find(".invoice-col .bed-select")
    $.ajax({
      method: "GET",
      url: "/bed/update_bed",
      data: { room_id: id }
    })
    .success(function( msg ) {
      json = JSON.stringify(msg)
      $(bed).find('option').remove()
      for (let i = 0; i < msg.beds.length; i++) {
        $(bed).append(new Option(msg.beds[i].name, msg.beds[i].id));
      }
      $(bed).trigger('change')
      changeNet(self)
    });
  });

  $(".unitary-cost-bed").change(function() {
    changeNet(this)
  })

  $(".bed-select").change(function() {
    let id = $(this).val();
    let self = this;
    $.ajax({
      method: "GET",
      url: "/customer/update_cost",
      data: { bed_id: id }
    })
    .success(function( msg ) {
      let parent = $(self).closest(".invoice-row")
      let cost = $(parent).find(".invoice-col .unitary-cost-bed")
      $(cost).val(msg.data)
      changeNet(self)
    });
  })

  $(".discount-bed").change(function() {
    changeNet(this)
  })

  function changeNet2(e) {
    let parent = $(e).closest(".invoice-row")
    let net = $(parent).find(".invoice-col .net-amount-bed")
    let total = 0
    $(".js-net-amount-bed").each(function() {
      let tmp = $(this).text()
      total += parseFloat(tmp)
    })
    total = total - parseFloat($(net).val())
    $("#subtotal").text("$ "+ total)
    $("#total-amount").text("$ "+ total)
  }

  function changeNet(e) {
    let parent = $(e).closest(".invoice-row")
    let cost = $(parent).find(".invoice-col .unitary-cost-bed")
    let quan = $(parent).find(".invoice-col .quantity-bed")
    let net_text = $(parent).find(".invoice-col .js-net-amount-bed")
    let net = $(parent).find(".invoice-col .net-amount-bed")
    let discount = $(parent).find(".discount-bed")
    let sub = $(parent).find(".sub-net")
    let t = parseFloat($(cost).val()) * parseFloat($(quan).val())
    t = t - t*parseFloat($(discount).val())/100
    t = t.toFixed(2)
    $(net_text).text(t)
    $(net).val(t)
    $(sub).val(t)
    addTax();
    changeTotal();
  }

  function changeTotal() {
    let total = 0
    let sub = 0
    $(".js-net-amount-bed").each(function() {
      let tmp = $(this).text()
      sub += parseFloat(tmp)
    })
    $(".tax-value").each(function() {
      let tmp = $(this).text()
      total += parseFloat(tmp)
    })
    let service = parseFloat(sub*0.1).toFixed(2)
    $("#service-tax").text("$ "+ service)
    total += sub
    total += parseFloat(service)
    $("#subtotal").text("$ "+ sub.toFixed(2))
    let gov = parseFloat(total*0.12).toFixed(2)
    $("#gov-tax").text("$ "+ gov)
    total += parseFloat(gov)
    let green = greenTax();
    $("#green-tax").text("$ "+ green)
    total += parseFloat(green)
    $("#total-amount").text("$ "+ total.toFixed(2))
  }

  function greenTax() {
    let t = 0;
    $(".invoice-row").each(function() {
      let nn = $(this).find(".quantity-bed").val();
      let nd = $(this).find(".no-bed").val();
      if (nn !== undefined) {
        if (!nd) nd = 1
        t += parseFloat(nn)*parseFloat(nd)*3
      }
    })
    return t;
  }

  $(".quantity-bed").change(function() {
    changeNet(this)
  });

  $(".no-bed").change(function() {
    changeNet(this)
  });

  $(".check-manual-cost").change(function() {
    let parent = $(this).closest(".invoice-row")
    let cost = $(parent).find(".invoice-col .unitary-cost-bed")
    if($(this).is(":checked")) $(cost).prop("readonly", false);
    else $(cost).prop("readonly", true);
  })
