.invoice-row.invoice-item.js-item
  .invoice-col.invoice-col--description.form-group
    = f.label "Room"
    = f.collection_select :room_id, Room.all, :id, :name, {include_blank: false}, {class: 'form-control c-select room-select'}

  .invoice-col.invoice-col--description.form-group
    = f.label "Bed"
    = f.collection_select :bed_id, @beds, :id, :name, {include_blank: false}, {class: 'form-control c-select bed-select'}

  .invoice-col.invoice-col--quantity.form-group
    = f.label :quantity
    = f.text_field :quantity, class: "form-control quantity-bed", "data-role": "quantity", value: @quan || 1

  .invoice-col.invoice-col--amount.form-group
    = f.label :unitary_cost
    = f.text_field :unitary_cost, class: "form-control unitary-cost-bed", "data-role": "unitary-cost", value: @cost

  .invoice-col.invoice-col--discount.form-group
    = f.label :discount
    = f.text_field :discount, class: "form-control discount", "data-role": "discount"

  .invoice-col.invoice-col--total.form-group
    = f.label :net_amount
    %p.form-control-static.js-net-amount-bed= @cost
    = f.hidden_field :net_amount, data: {role: 'net-amount'}, class: "net-amount-bed", value: @cost

  = link_to_remove_association f, {wrapper_class: 'js-item', class: 'destroy-icon'} do
    = material_icon.delete
    %span Remove Line

  -# = f.hidden_field

:javascript
  $(".room-select").change(function() {
    let self = this
    let id = $(this).val()
    let parent = $(this).parent();
    let grand = $(parent).parent();
    let bed = $(grand).find(".invoice-col .bed-select")
    $.ajax({
      method: "GET",
      url: "/bed/update_bed",
      data: { room_id: id }
    })
    .success(function( msg ) {
      json = JSON.stringify(msg)
      $(bed).find('option').remove()
      for (let i = 0; i < msg.beds.length; i++) {
        $(bed).append(new Option(msg.beds[i].name, msg.beds[i].id));
      }
      $(bed).trigger('change')
      changeNet(self)
    });
  });

  $(".bed-select").change(function() {
    let id = $(this).val();
    let self = this;
    $.ajax({
      method: "GET",
      url: "/customer/update_cost",
      data: { bed_id: id }
    })
    .success(function( msg ) {
      let parent = $(self).closest(".invoice-row")
      let cost = $(parent).find(".invoice-col .unitary-cost-bed")
      $(cost).val(msg.data)
      changeNet(self)
    });
  })

  function changeNet(e) {
    let parent = $(e).closest(".invoice-row")
    let cost = $(parent).find(".invoice-col .unitary-cost-bed")
    let quan = $(parent).find(".invoice-col .quantity-bed")
    let net_text = $(parent).find(".invoice-col .js-net-amount-bed")
    let net = $(parent).find(".invoice-col .net-amount-bed")
    let t = parseInt($(cost).val()) * parseInt($(quan).val())
    $(net_text).text(t)
    $(net).val(t)
  }

  $(".quantity-bed").change(function() {
    changeNet(this)
  });
